<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Your tickets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body class="bg-light">

<body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand mr-auto mr-lg-0" th:href="@{/tickets}">Tickets</a>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/booking/select/event}">Booking</a>
                </li>

                <li sec:authorize="${hasRole('ROLE_ADMIN')}"  class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" th:href="@{/admin/cinema}">Cinema</a>
                        <a class="dropdown-item" th:href="@{/admin/event}">Event</a>
                        <a class="dropdown-item" th:href="@{/admin/cash}">User cash</a>
                    </div>
                </li>
            </ul>
        </div>

        <form th:action="@{/logout}" method="post">
            <button class="btn btn-link" type="submit">Logout</button>
        </form>

    </nav>

    <div class="container w-50 mt-5">

        <div class="py-5 text-center">
            <h2>Your Tickets</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 mb-3">
                <h4 class="mb-3" th:utext="'Your bill is: ' + ${bill}"/>
            </div>
        </div>

        <div th:if="${tickets.size() == 0}" class="py-5 text-center mb-3">
            <h1>Buy tickets!</h1>
        </div>

        <div th:if="${tickets.size() > 0}" th:each="ticket : ${tickets}">
            <div class="row justify-content-center">
                <div class="col-md-8 mb-3 jumbotron">
                    <h2 th:utext="${ticket.getEvent().getCinema().getName()}"/>
                    <h5 th:utext="'Auditorium - ' +  ${ticket.getEvent().getAuditorium().getName()}"/>
                    <h5 th:utext="'Seat - ' + ${ticket.getSeat().getNumber()}"/>
                    <h5 th:utext="'Price - ' + ${ticket.getPrice()}"/>
                    <h5 th:each="ticketDiscount : ${ticket.getDiscounts()}" th:utext="'Discount - ' + ${ticketDiscount.getDiscount().getDiscountType()}"/>
                    <a th:href="'../api/ticket/' + ${ticket.getId()}">Download</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>
</html>